%blur-pixel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

%hover-cell {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    opacity: 0.8;
}

%transition-smooth {
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -webkit-backface-visibility: hidden;
}

%transition-short-delay {
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin background-game-image($url: '') {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: contain;
}

@mixin game-match-cell-status ($w: 50%, $h: 50%, $t: 5px, $l: 5px) {
    content: '';
    position: absolute;
    display: block;
    width: $w;
    height: $h;
    top: $t;
    left: $l;
    border-width: 0;
    border-image: url('../images/border-winner-cell.png') 6% repeat;
}
