$primary-bgd-color: #3F51B5;
$accent-bgd-color: #ff4081;
$accent-dark-bgd-color: #E91E63;
$primary-dark-bgd-color: #3E4EB8;
$primary-soft-bgd-color: #536DFE;
$warning-font-color: #DB1600;
$monocolor01: #fff;
$media-medium-width: 400px;
$waiting-z-index: 5;
$above-z-index: 10;
$matrix-margin-top: 20px;
$matrix-box-square-size: 100px;
$matrix-box-square-size-medium: 60px;
$matrix-box-border: 1px solid #8C9EFF;
$matrix-box-border-fill: 1px solid $primary-soft-bgd-color;
$matrix-box-separation: 10px;
$matrix-game-rules-top: 25px;
$matrix-game-rules-width: 500px;
$matrix-game-rules-height: 370px;
$matrix-game-rules-first-margin-top: 35px;
$matrix-game-rules-font-size: 16px;
$matrix-game-footer-pagging-hztl: 20px;

// Mached winner Cells
$game-match-cell-border-offset: 3px;
$game-match-cell-size: $matrix-box-square-size + (4 * $matrix-box-separation);
$game-match-line-properties: (
    column: (
        borderType: 'right',
        width: 50%,
        height: $game-match-cell-size,
        top: -($game-match-cell-size - $matrix-box-square-size)/2,
        left: -$game-match-cell-border-offset
    ),
    row: (
        borderType: 'bottom',
        width: $game-match-cell-size,
        height: 50%,
        top: -$game-match-cell-border-offset,
        left: -($game-match-cell-size - $matrix-box-square-size)/2
    )
);
