$white-blur-bgd-color: rgba(255, 255, 255, 0.8);
$black-blur-bgd-color: rgba(0, 0, 0, 0.6);
$waiting-z-index: 5;
$above-z-index: 10;
$matrix-margin-top: 50px;
$matrix-box-square-size: 100px;
$matrix-box-border: 1px solid #8C9EFF;
$matrix-box-border-fill: 1px solid #536DFE;
$matrix-box-separation: 10px;
$matrix-game-rules-top: 25px;
$matrix-game-rules-width: 500px;
$matrix-game-rules-height: 450px;
