@import 'variables';
@import 'mixinsAndPlaceholders';

body, html {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.hide-pannel {
    display: none !important;
}

.ia-header-wrapper {
    .mdl-layout__header {
        z-index: $above-z-index;
    }

    .mdl-navigation__link {
        line-height: 0;
    }
}

.mdl-mini-footer {
    z-index: $above-z-index;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;

    .mdl-logo {
        margin: 0;
        line-height: 1;
    }
}

#ia-matrix-wrapper {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    &:before {
        content: "";
        display: block;
        position: fixed;
        height: 100%;
        background: rgba(#fff, 0.8);
        z-index: $waiting-z-index;
    }

    #waiting-game {
        z-index: $above-z-index;
    }

    /* On active waiting behaviour*/
    &:before, #waiting-game {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        @extend %transition-smooth;
    }

    &.waiting-game--fadein {

        &:before, #waiting-game {
            visibility: visible;
            opacity: 1;
        }
    }
}

#config-game-actions {
    text-align: center;
        width: 90%;

    @media screen and (min-width: $media-medium-width) {
        width: initial;
    }
}

.ia-matrix-game {
    margin: $matrix-margin-top auto 0;
    text-align: center;

    /*CELLS STRUCTURE*/
    &__cell-box {
        cursor: pointer;
        display: inline-block;
        width: $matrix-box-square-size-medium;
        height: $matrix-box-square-size-medium;
        margin: $matrix-box-separation;
        border-radius: 5px;
        border: $matrix-box-border;
        position: relative;
        @extend %transition-smooth;

        @media screen and (min-width: $media-medium-width) {
            width: $matrix-box-square-size;
            height: $matrix-box-square-size;
        }
    }

    /*CELLS BEHAVIOUR*/
    &__cell--fill {

    }

    &__cell-box:active,
    &__cell--fill {
        border: $matrix-box-border-fill;
        @extend %hover-cell;
    }

    &__cell--cross {
        @include background-game-image('./../images/cross.png');
    }

    &__cell--circle {
        @include background-game-image('./../images/circle.png');
    }

    &__cell-box:not(#{&}__cell--fill):hover {
        @extend %hover-cell;
    }

    /* WINNER STATUS CELLS
     * ia-matrix-game--match-[column|row]-[0|1|2]
     */
    @for $col from 0 through 2 {
        @for $row from 0 through 2 {
            @each $typeLine, $property in $game-match-line-properties {
                $cell: if($typeLine == 'column', #{$col}#{$row}, #{$row}#{$col});

                &--match-#{$typeLine}-#{$col} [data-cell-grid="#{$cell}"]:after {
                    @include game-match-cell-status(
                        map-get($property, width),
                        map-get($property, height),
                        map-get($property, top),
                        map-get($property, left)
                    );
                    border-#{map-get($property, borderType)}-width: 9px;

                    @media screen and (min-width: $media-medium-width) {
                        border-#{map-get($property, borderType)}-width: 12px;
                    }
                }
            }
        }
    }

    /* WINNER STATUS CELLS
     * ia-matrix-game--match-diagonal-[1|2]
     */
    $listDiagonal: (1, -1);
    $diagonalProp : map-get($game-match-line-properties, column); //select column as reference diagonal properties
    @each $diagonal in  $listDiagonal{
        $cellA : 0#{abs($diagonal - 1)};
        $cellCenter : 11;
        $cellB : 2#{abs($diagonal + 1)};
        $indexDiagonal: index($listDiagonal, $diagonal);

        &--match-diagonal-#{$indexDiagonal} {
            [data-cell-grid="#{$cellA}"]:after,
            [data-cell-grid="#{$cellCenter}"]:after,
            [data-cell-grid="#{$cellB}"]:after {
                @include game-match-cell-status(
                    $h: map-get($diagonalProp, height) * 2,
                    $t: -90px,
                    $l: map-get($diagonalProp, left)
                );
                transform-origin: center;
                transform: rotate(#{$diagonal * 45}deg);
                border-#{map-get($diagonalProp, borderType)}-width: 9px;
                    width: if($indexDiagonal == 1, 20%, 70%);

                @media screen and (min-width: $media-medium-width) {
                    border-#{map-get($diagonalProp, borderType)}-width: 12px;
                    width: map-get($diagonalProp, width);
                }
            }
        }
    }
}

.demo-card-image {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    margin: $matrix-game-rules-top auto 0;

    ul {
        list-style-type: circle;
    }

    li {
        line-height: 1em;
        font-size: $matrix-game-rules-font-size;
        margin-top: 2em;

        &:first-child {
            margin-top: $matrix-game-rules-first-margin-top;
        }
    }

    &.show--rules{
        @extend %transition-smooth;
        visibility: visible;
        opacity: 1;
    }

    &.mdl-card {
        width: 90%;
        height: $matrix-game-rules-height;
        background: url('../images/board-circle-cross.jpg') no-repeat center center;
        background-size: contain;

        @media screen and (min-width: $media-medium-width) {
            background-size: cover;
            width: $matrix-game-rules-width;
            height: initial;
        }
    }

    & > .mdl-card__actions {
        height: 52px;
        padding: 16px;
        color: white;
        background: $black-blur-bgd-color;
    }

    &__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }

    .mdl-button--icon {
        right: 25px;
        top: -8px;
        float: right;

        .material-icons {
            color: $warning-font-color;
            font-weight: bold;
        }
    }

    .mdl-card__supporting-text {
        background-color: rgba(#fff, 0.9);
        width: 100%;
        color: black;
        padding-left: 0;
        paddin-right: 0;
    }
 }
