@import 'variables';
@import 'mixinsAndPlaceholders';

body, html {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
}

.hide-pannel {
    display: none !important;
}

.ia-header-wrapper {
    .mdl-layout__header {
        z-index: $above-z-index;
    }

    .mdl-navigation__link {
        line-height: 0;
    }
}

.mdl-mini-footer.ia-main-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: $above-z-index;
    align-items: center;
    padding: 20px 0;

    .mdl-logo {
        line-height: 1;
        margin: 0;
    }

    .mdl-mini-footer__left-section{
        padding-left: $matrix-game-footer-pagging-hztl;
    }

    .mdl-mini-footer__right-section{
        padding-right: $matrix-game-footer-pagging-hztl;
    }
}

#ia-matrix-wrapper {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    &:before {
        background: rgba($monocolor01, 0.8);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        z-index: $waiting-z-index;
    }

    #waiting-game {
        z-index: $above-z-index;
    }

    /* On active waiting behaviour*/
    &:before, #waiting-game {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        @extend %transition-smooth;
    }

    &.waiting-game--fadein {

        &:before, #waiting-game {
            opacity: 1;
            visibility: visible;
        }
    }
}

#config-game-actions {
    text-align: center;
    width: 90%;

    @media screen and (min-width: $media-medium-width) {
        width: initial;
    }
}

.ia-matrix-game {
    margin: $matrix-margin-top auto 0;
    text-align: center;

    /*CELLS STRUCTURE*/
    &__cell-box {
        border: $matrix-box-border;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        height: $matrix-box-square-size-medium;
        margin: $matrix-box-separation;
        position: relative;
        width: $matrix-box-square-size-medium;
        @extend %transition-smooth;

        @media screen and (min-width: $media-medium-width) {
            width: $matrix-box-square-size;
            height: $matrix-box-square-size;
        }
    }

    /*CELLS BEHAVIOUR*/
    &__cell--fill {

    }

    &__cell-box:active,
    &__cell--fill {
        border: $matrix-box-border-fill;
        @extend %hover-cell;
    }

    &__cell--cross {
        @include background-game-image('./../images/cross.png');
    }

    &__cell--circle {
        @include background-game-image('./../images/circle.png');
    }

    &__cell-box:not(#{&}__cell--fill):hover {
        @extend %hover-cell;
    }

    @import 'statusCell';
}

.ia-winner-card,
.ia-rules-card {
    opacity: 0;
    visibility: hidden;
    position: absolute; // hide outside html flow
    top: 0;
    z-index: $above-z-index;

    &.show--poup {
        @extend %transition-smooth;
        opacity: 1;
        visibility: visible;
    }

    &.show--poup + .ia-gamer-badges {
        display: none;
    }
}

.ia-rules-card {
    margin: $matrix-game-rules-top auto 0;
    width: 100%;

    ul {
        list-style-type: circle;
    }

    li {
        font-size: $matrix-game-rules-font-size;
        line-height: 1em;
        margin-top: 2em;

        &:first-child {
            margin-top: $matrix-game-rules-first-margin-top;
        }
    }

    &.show--poup{
        position: relative;
    }

    &.mdl-card {
        width: 90%;
        background: url('../images/board-circle-cross.jpg') no-repeat center center;
        background-size: contain;
        height: $matrix-game-rules-height;

        @media screen and (min-width: $media-medium-width) {
            background-size: cover;
            height: initial;
            width: $matrix-game-rules-width;
        }
    }

    & > .mdl-card__actions {
        background: rgba($primary-bgd-color, 0.9);
        color: white;
        height: 52px;
        padding: 16px;
    }

    &__filename {
        color: $monocolor01;
        font-size: 14px;
        font-weight: 500;
    }

    .mdl-button--icon {
        float: right;
        right: 25px;
        top: -8px;

        .material-icons {
            color: $warning-font-color;
            font-weight: bold;
        }
    }

    .mdl-card__supporting-text {
        background-color: rgba($monocolor01, 0.9);
        color: black;
        padding-left: 0;
        width: 100%;
        paddin-right: 0;
    }
 }

.ia-winner-card {
    &.show--poup{
        position: fixed;
    }

    $size-card: 260px;
    &.mdl-card {
        background: $primary-dark-bgd-color;
        margin-top: -220px;
        top: 100%;
        left: 50%;
        margin-left: - ($size-card / 2);
        width: $size-card;
    }

    .mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
        box-sizing:border-box;
        display: flex;
        align-items: center;
    }

    .mdl-card__title {
        align-items: flex-start;
        animation: animation-background-lite 2s infinite;
    }

    .mdl-card__title > h4 {
        margin-top: 0;
        background-color: inherit;
    }

    .mdl-button {
        width: 100%;
    }

    .mdl-card__title,
    .mdl-card__actions,
    .mdl-card__actions > .mdl-button {
        color: $monocolor01;
    }
}


.ia-gamer-badges {
    position: fixed;
    top: 100%;
    margin-top: -140px;
    text-align: center;
    width: 100%;

    .snippet-demo {
        display: inline-block;

        &:first-child {
            margin-bottom: 50px;
        }
    }

    .mdl-badge {
        color: $primary-bgd-color;
        font-size: 40px;

        &:after {
            right: -5px;
        }
    }

    @media screen and (min-width: $media-medium-width) {
        top: 50%;
        margin-top: -90px;
        width: auto;

        .snippet-demo {
            display: block;
        }

        .mdl-badge {
            font-size: 50px;

            &:after {
                right: -15px;
            }
        }
    }
}
